# OS
.DS_Store
Thumbs.db

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Maven / Java
target/
*.log

# Quarkus
.quarkus/
**/quarkus.log

# Node
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
